In [ ]:
# Package imports
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

%matplotlib inline

np.random.seed(1)

In [ ]:
#importing the data

import pandas as pd
data = pd.read_csv(r'C:\Users\Farina Tariq\Downloads\data.csv')

In [ ]:
#data description

data.head()

,Missouri,Mississippi,Yukon,Rio Grande,Target Variable Rio Grande,Unnamed: 5
0,28.66,15.65,120.173,155.552,102.518,
1,24.84,42.91,25.042,61.937,155.552,NaN
2,29.20,54.76,47.627,159.542,61.937,NaN
3,3.43,58.47,86.291,122.878,159.542,NaN
4,51.42,31.76,58.055,12.152,122.878,NaN

In [ ]:
#data information

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Missouri                    1460 non-null   float64
 1   Mississippi                 1460 non-null   float64
 2   Yukon                       1460 non-null   float64
 3   Rio Grande                  1460 non-null   float64
 4   Target Variable Rio Grande  1460 non-null   float64
 5   Unnamed: 5                  1 non-null      object
dtypes: float64(5), object(1)
memory usage: 62.8+ KB

In [ ]:
#dropping null column

df = data.drop(['Unnamed: 5'], axis = 1)

In [ ]:
#dropping null values

df.dropna()

      Missouri  Mississippi   Yukon   Rio Grande  Target Variable Rio Grande
0        28.66        15.65  120.173     155.552                     102.518
1        24.84        42.91   25.042      61.937                     155.552
2        29.20        54.76   47.627     159.542                      61.937
3         3.43        58.47   86.291     122.878                     159.542
4        51.42        31.76   58.055      12.152                     122.878
...        ...          ...      ...         ...                         ...
1455     44.66         8.17  125.089      96.610                     129.715
1456     59.71        35.29  116.039     125.576                      96.610
1457     56.09        51.77   48.138      21.064                     125.576
1458     28.92        31.12    9.518     167.055                      21.064
1459     20.58        47.29  129.703     121.972                     167.055

[1460 rows x 5 columns]

In [ ]:
df = df.values

In [ ]:
#splitting of data into features and target variable

import numpy as np

X = df[:,0:4]
y = df[:,4]

In [ ]:
#data type conversion

X = X.astype(np.int64)
y = y.astype(np.int64)

In [ ]:
#splitting into training, testing and validation data

x_data, test_data, y_data, test_labels = train_test_split(X, y, test_size =0.2, random_state=0)
train_data, val_data, train_labels, val_labels = train_test_split(x_data, y_data, test_size =0.25, random_state=0)

In [ ]:
#scaling of data

scaler = preprocessing.StandardScaler().fit(train_data)
train_data = scaler.transform(train_data)
test_data = scaler.transform(test_data)
val_data = scaler.transform(val_data)

In [ ]:
trainx = train_data.T
trainy = train_labels.reshape(-1,1).T

testx = test_data.T
testy =test_labels.reshape(-1,1).T

valx = val_data.T
valy = val_labels.reshape(-1,1).T

In [ ]:
trainx.shape, trainy.shape, testx.shape, testy.shape, valx.shape, valy.shape

((4, 876), (1, 876), (4, 293), (1, 293), (4, 292), (1, 292))

In [ ]:
X=trainx
Y=trainy

In [ ]:

shape_X = X.shape
shape_Y = Y.shape
n = X.shape[1]                  


print ('No. of training samples: ' + str(n))
print ('Number of features per sample: ' + str(shape_X[0]))

No. of training samples: 876
Number of features per sample: 4

In [ ]:
#defining model structure

def model_architecture(X, Y):
   
    n_x = X.shape[0]                       # n_x -- the size of the input layer
    n_h = 5                                # n_h -- the size of the hidden layer
    n_y = 1                                # n_y -- the size of the output layer
  
    return (n_x, n_h, n_y)

In [ ]:
#defining the weight initializing function

def initialize_parameters(n_x, n_h, n_y):
    
    np.random.seed(1)

    W1 = np.random.randn(n_h,n_x) * (0.01)                 # W1 -- weight matrix of shape (n_h, n_x)
    b1 =  np.zeros((n_h,1))                                # b1 -- bias vector of shape (n_h, 1)
    W2 = np.random.randn(n_y,n_h) * (0.01)                  # W2 -- weight matrix of shape (n_y, n_h)
    b2 = np.zeros((n_y,1))                                 # b2 -- bias vector of shape (n_y, 1)
    
    assert (W1.shape == (n_h, n_x))
    assert (b1.shape == (n_h, 1))
    assert (W2.shape == (n_y, n_h))
    assert (b2.shape == (n_y, 1))
    
    parameters = {"W1": W1,
                  "b1": b1,
                  "W2": W2,
                  "b2": b2}
    
    return parameters

In [ ]:
#sigmoid activation function

def sigmoid(x):
  
    sigmoid = 1/(1 + np.exp(-x))
    return sigmoid

In [ ]:
#tanh activation function

def tanh(x):
   
    return 2 * sigmoid(2*x)-1

In [ ]:
#feed forward function

def forward_propagation(X, parameters):
    
    W1 = parameters['W1']
    b1 = parameters['b1']
    W2 = parameters['W2']
    b2 = parameters['b2']

    # Implement Forward Propagation to calculate A2 (probabilities)

    Z1 = np.dot(W1,X) + b1                        
    A1 = sigmoid(Z1)                          
    Z2 = np.dot(W2,A1) + b2                      
    A2 = sigmoid(Z2)                         

    assert(A2.shape == (1, X.shape[1]))
    
    cache = {"Z1": Z1,
             "A1": A1,
             "Z2": Z2,
             "A2": A2}
    
    return A2, cache

In [ ]:
#cost function (Mmean Square Error MSE)

from sklearn.metrics import mean_squared_error
import math

def compute_cost(A2, Y,parameters):
  n = Y.shape[1] # number of example
  
  MSE = mean_squared_error(Y, A2)
 
  cost = math.sqrt(MSE)
  cost = float(np.squeeze(cost))
  assert(isinstance(cost, float))
  return cost

In [ ]:
#backpropagation function

def backprop(parameters, cache, X, Y):
    
    n = X.shape[1]
    
    # First, retrieve W1 and W2 from the dictionary "parameters".
    
    W1 = parameters['W1']
    W2 = parameters['W2']
    
        
    # Retrieve also A1 and A2 from dictionary "cache".
     
    A1 = cache['A1']
    A2 = cache['A2']
    
    # Backward propagation: calculate dW1, db1, dW2, db2. 
   
    dZ2 = A2 - Y      
    dW2 = (dZ2.dot(A1.T)) / n
    db2 = np.sum(dZ2, axis=1, keepdims = True) / n
    dZ1 = (W2.T.dot(dZ2)) *  (1 - np.power(A1,2))
    dW1 = (dZ1.dot(X.T)) / n 
    db1 = np.sum(dZ1, axis=1, keepdims = True) / n
    
    grads = {"dW1": dW1,
             "db1": db1,
             "dW2": dW2,
             "db2": db2}
    
    return grads

In [ ]:
#weight decay function

def update(parameters, grads, alpha = 0.001):
    
    # Retrieve each parameter from the dictionary "parameters"
  
    W1 = parameters['W1']
    b1 = parameters['b1']
    W2 = parameters['W2']
    b2 = parameters['b2']
    
    # Retrieve each gradient from the dictionary "grads"
    
    dW1 = grads['dW1']
    db1 = grads['db1']
    dW2 = grads['dW2']
    db2 = grads['db2']
    
    # Update rule for each parameter
  
    W1 = W1 - alpha * dW1
    b1 = b1 - alpha * db1
    W2 = W2- alpha * dW2
    b2 = b2 - alpha * db2
    
    parameters = {"W1": W1,
                  "b1": b1,
                  "W2": W2,
                  "b2": b2}
    
    return parameters

In [ ]:
#neural network model 

def NeuralNetwork(X, Y, n_h, num_epochs = 10, alpha = 0.001, print_cost=False):
   
    np.random.seed(1)
    n_x = model_architecture(X, Y)[0]
    n_y = model_architecture(X, Y)[2]
    
    # Initialize parameters
    
    parameters = initialize_parameters(n_x, n_h, n_y)
    W1 =  parameters['W1']                 # W1 -- weight matrix of shape (n_h, n_x)
    b1 =  parameters['b1']                 # b1 -- bias vector of shape (n_h, 1)
    W2 =  parameters['W2']                 # W2 -- weight matrix of shape (n_y, n_h)
    b2 =  parameters['b2']                 # b2 -- bias vector of shape (n_y, 1)
  
    # Loop (gradient descent)

    for i in range(0, num_epochs):

        # Forward propagation. Inputs: "X, parameters". Outputs: "A2, cache".
        A2, cache = forward_propagation(X, parameters)
        # Cost function. Inputs: "A2, Y, parameters". Outputs: "cost".
        cost = compute_cost(A2, Y, parameters)
        # Backpropagation. Inputs: "parameters, cache, X, Y". Outputs: "grads".
        grads = backprop(parameters, cache, X, Y)
        # Gradient descent parameter update. Inputs: "parameters, grads". Outputs: "parameters".
        parameters = update(parameters, grads)

        # Print the cost every 1 epochs
        if print_cost and i % 1 == 0:
            print ("Cost after iteration %i: %f" %(i, cost))

    return parameters

In [ ]:
# Build a model with a n_h-dimensional hidden layer

parameters = NeuralNetwork(X, Y, n_h = 5 , num_epochs = 10, print_cost=True)

Cost after iteration 0: 311628862009368640.000000
Cost after iteration 1: 311628862009368640.000000
Cost after iteration 2: 311628862009368640.000000
Cost after iteration 3: 311628862009368640.000000
Cost after iteration 4: 311628862009368640.000000
Cost after iteration 5: 311628862009368640.000000
Cost after iteration 6: 311628862009368640.000000
Cost after iteration 7: 311628862009368640.000000
Cost after iteration 8: 311628862009368640.000000
Cost after iteration 9: 311628862009368640.000000

<ipython-input-246-db37c8f5e929>:5: RuntimeWarning: overflow encountered in exp
  sigmoid = 1/(1 + np.exp(-x))
<ipython-input-246-db37c8f5e929>:5: RuntimeWarning: overflow encountered in exp
  sigmoid = 1/(1 + np.exp(-x))
<ipython-input-246-db37c8f5e929>:5: RuntimeWarning: overflow encountered in exp
  sigmoid = 1/(1 + np.exp(-x))
<ipython-input-246-db37c8f5e929>:5: RuntimeWarning: overflow encountered in exp
  sigmoid = 1/(1 + np.exp(-x))
<ipython-input-246-db37c8f5e929>:5: RuntimeWarning: overflow encountered in exp
  sigmoid = 1/(1 + np.exp(-x))
<ipython-input-246-db37c8f5e929>:5: RuntimeWarning: overflow encountered in exp
  sigmoid = 1/(1 + np.exp(-x))
<ipython-input-246-db37c8f5e929>:5: RuntimeWarning: overflow encountered in exp
  sigmoid = 1/(1 + np.exp(-x))
<ipython-input-246-db37c8f5e929>:5: RuntimeWarning: overflow encountered in exp
  sigmoid = 1/(1 + np.exp(-x))
<ipython-input-246-db37c8f5e929>:5: RuntimeWarning: overflow encountered in exp
  sigmoid = 1/(1 + np.exp(-x))

In [ ]:
#prediction function

def predict(parameters, X):
    
    A2, cache = forward_propagation(X, parameters)
    predictions = A2 
    
    return predictions

In [ ]:
# Print MSE for training data

from sklearn.metrics import mean_squared_error
predictions = predict(parameters, trainx)
print(mean_squared_error(predictions, trainy, squared=False))

3.1162886200936864e+17

<ipython-input-246-db37c8f5e929>:5: RuntimeWarning: overflow encountered in exp
  sigmoid = 1/(1 + np.exp(-x))

In [ ]:
#MSE for testing data

predictions_test = predict(parameters, testx)
print(mean_squared_error(predictions_test,testy,squared=False))

120.59198406677125

<ipython-input-246-db37c8f5e929>:5: RuntimeWarning: overflow encountered in exp
  sigmoid = 1/(1 + np.exp(-x))

In [ ]:
#MSE for validation data

predictions_val = predict(parameters, valx)
print(mean_squared_error(valy, predictions_val,squared=False))

125.63180057242073

<ipython-input-246-db37c8f5e929>:5: RuntimeWarning: overflow encountered in exp
  sigmoid = 1/(1 + np.exp(-x))